@model IEnumerable<StudyMVC2.Models.Photo>

@{
    ViewData["Title"] = "ShowDisplay";
}

<h1>ShowDisplay</h1>


<div>
    <h4>ひまわりの画像</h4>
    <img src="~/image/Sunflowers.jpg" alt="SunFlowers" />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoPath)
                </td>
            </tr>
        }
        <div>
    <a asp-action="Index">Back to List</a>
</div>

