@model StudyMVC2.Models.Person

@{
    ViewData["Title"] = "ShowDisplay";
}

<h1>ShowDisplay</h1>


<div>
    <h4>ひまわりの画像</h4>
    <img src="~/image/Sunflowers.jpg" alt="SunFlowers" />
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

