@model IEnumerable<Login>
@{
    ViewData["Title"] = "Login";
}


<h1>Plese Login</h1>

<form method="post" action="/LoginsController/Verification">
    <label for="UserName">ユーザーネーム：</label>
    <input type="text" id="UserName" name="UserName" value="@Model.UserName"/>

    <label for="Password">パスワード</label>
    <input type="password" name="Password" value="@Model.Password"/>

    <button type="submit">Login</button>
</form>


