@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome Pages";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        The current time is :@DateTime.Now.ToString("yyyy-MM-dd HH:mm")
    </p>

    <a asp-action="Index">Go Data List</a>
</div>
