@model IEnumerable<Login>
@{
    ViewData["Title"] = "Login";
}


<h1>Plese Login</h1>
@using (Html.BeginForm("IsValidCheckUser", "Logins", FormMethod.Post))
{
    <label for="UserName">ユーザーネーム</label>
    <input type="text" id="UserName" name="User" value=""/>

    <label for="Password">パスワード</label>
    <input type="password", name="Password" value=""/>

    <button type="submit">Login</button>

}


@if (ViewBag.ErrorMessage != null)
{
    <p style="color: red;">@ViewBag.ErrorMessage</p>
}
<h2>
    新規ユーザー登録：@*テキスト         メソッド　　コントローラー*@                   
    @Html.ActionLink("新規ユーザー登録", "Register", "Logins", null, new { @class = "btn btn-primary" })

</h2>


